.card {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,1);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
}

.cardimg {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,1);
  transition: 0.3s;
  width: 80%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 16px 16px 0 rgba(0,0,0,1);
}


img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.thumbnail { 
top:-50px; 
left:-35px; 
display:block; 
z-index:999; 
cursor: pointer; 
-webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease; 
} 

/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
transform: scale(1.7); 
}
